.inputandsearch {
  margin: 1rem 1rem;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.input {
  border: 2px solid white;
  border-radius: 3rem;
  height: 3rem;
  width: 65%;
  padding-left: 1rem;
  background-color: transparent;
}

.input:focus {
  outline: none;
  background-color: inherit;
}
.input:has(text) {
  background-color: inherit;
}
.search-btn {
  border: none;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  display: grid;
  background: transparent;
  place-content: center;
}
