.weather-card {
  /* margin: 20px; */
  padding: 0;
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 8px;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  backdrop-filter: blur(100rem);
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.weather-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  backdrop-filter: blur(100rem);
  font-size: 14px;
  height: inherit;
}

.weather-table th,
.weather-table td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px #333 solid;
}

.weather-table tr:hover {
  backdrop-filter: grayscale(2);
  transition: background-color 0.3s ease;
}

.weather-table td:first-child {
  font-weight: bold;
  color: #333;
}
